.vscode/
.idea/
cmake-build-debug/
build/
**/__pycache__/
catkin_ws/devel/
catkin_ws/build/
catkin_ws/.catkin_workspace
*/threethirdfile.txt
*/twothirdfile.txt
*/onethirdfile.txt
catkin_ws/valgrind_result.out
