[submodule "submodules/config-reader"]
	path = submodules/config-reader
	url = ../../ut-amrl/config-reader.git
[submodule "submodules/shared"]
	path = submodules/shared
	url = ../../ut-amrl/amrl_shared_lib.git
