<html>
  <script>
    kAKey = 65;
    kWKey = 87;
    kDKey = 68;
    kSKey = 83;
    kRobotName = "{{ robot_name }}";
    kForward = "forward";
    kBackward = "backward";
    kLeft = "left";
    kRight = "right";

    kCommandStatus = {};
    kCommandStatus[kForward] = false;
    kCommandStatus[kBackward] = false;
    kCommandStatus[kLeft] = false;
    kCommandStatus[kRight] = false;
    kCommandStatus.robot = kRobotName;

    function send_command() {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "{{ server_url }}", true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify(kCommandStatus));
    }

    function start(direction) {
      kCommandStatus[direction] = true;
      send_command();
    }

    function stop(direction) {
      kCommandStatus[direction] = false;
      send_command();
    }

    function key_down(e) {
      if (e.repeat) {
        return;
      }
      switch (e.keyCode) {
        case kWKey: {
          start(kForward);
          break;
        }
        case kSKey: {
          start(kBackward);
          break;
        }
        case kAKey: {
          start(kLeft);
          break;
        }
        case kDKey: {
          start(kRight);
          break;
        }
      }
    }

    function key_up(e) {
      switch (e.keyCode) {
        case kWKey: {
          stop(kForward);
          break;
        }
        case kSKey: {
          stop(kBackward);
          break;
        }
        case kAKey: {
          stop(kLeft);
          break;
        }
        case kDKey: {
          stop(kRight);
          break;
        }
      }
    }

    document.onkeydown = key_down;
    document.onkeyup = key_up;

    function clicked(direction) {
      console.log("CLICKED " + direction)
    }
  </script>
  <body>
    <h1>{{ robot_name }} control page</h1>

    <p>Controls:</p>

    <p>WASD keys to move. W/D move forward and backwards; A/D rotate left and right.</p>

<!--    <table>-->
<!--      <tr>-->
<!--        <td></td>-->
<!--        <td><button onclick="clicked('forward')">Forward</button></td>-->
<!--        <td></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td><button onclick="clicked('left')">Left</button></td>-->
<!--        <td></td>-->
<!--        <td><button onclick="clicked('right')">Right</button></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td></td>-->
<!--        <td><button onclick="clicked('backward')">Backward</button></td>-->
<!--        <td></td>-->
<!--      </tr>-->
<!--    </table>-->
  </body>
</html>