[Desktop Entry]
Encoding=UTF-8
Name=LASHIFA
Comment=LASHIFA
Exec=bash ~/code/catkin_ws/src/ServiceRobotControlStack/robot_status_gui/lashifa.desktop
Terminal=false
Type=Application